.navigation{
    display: flex;
    align-items: center;
}

.navigation > .nav-logo{
    margin-right: 68px;
}

.nav-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--title-text-color);
    text-decoration: none;
}

.header-logo{
    font-family: 'Raleway';
    color: var(--link-text-color);
}